.header a{
    text-decoration: none;
    margin-right:30px;
    padding: 2px 5px;
    margin-left:10px;
    color: yellowgreen;
    font-weight: 700;
}
.header a:hover{
    background-color: lightblue;
}
.first{
    margin-left: 650px;
}