.first-1{ 
    border: 1px solid blue;
    border-radius: 10px;
    margin-left: 5px;
    width: 260px;
    margin-bottom: 30px;
    margin-right: -15px;
    /* padding-right: 40px; */
}
.first-1 img{
    background-color: gray;
}
